/* Common styles */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  --brand: hsl(170, 100%, 26%);
  --brand-light: hsl(148, 23%, 89%);
  --brand-light-2: hsl(180, 14%, 97%);
  --brand-dark: hsl(170, 100%, 14%);

  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --white: #FFF;

  --navbar-height: 7.2rem;
}

html{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;

  scroll-behavior: smooth;
}

body{
  font-size: 1.6rem;
  background-color: var(--brand-light-2);
}

.wrapper{
  width: min(50rem, 100%);
  padding-inline: 2.4rem;
  margin-inline: auto;
}

section{
  padding-block: 10rem;
}

.section-subheading{
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: .1rem;
  color: var(--brand);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.section-heading{
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--headline);
}

.contact-btn {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.8rem;
  font-weight: 700;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  background-color: var(--brand);
  padding: 1.7rem 3.2rem;
  border-radius: 4rem;
  width: max-content;
  margin-inline: auto;
  margin-bottom: 6rem;
}

.contact-btn:hover {
  background-color: var(--brand-dark);
  transition: background-color .2s;
}
/* End of Common styles */

/* Back to top button */
.back-to-top-btn{
  position: fixed;
  bottom: 1rem;
  right: 1rem; 
  z-index: 20;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: .2s;
}

.back-to-top-btn.change {
  opacity: 1;
  visibility: visible;

  transform: translateY(0);
  opacity: 1;
}
/* End of Back to top button */

/* Navbar 2... */
.menu2{
  display: none;
}

/* End of Navbar 2... */

/* Navbar */
.navbar{
  width: 100%;
  height: var(--navbar-height);

  padding-block: 1.6rem;
  /* padding-inline: 2.4rem;*/
  
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
}

.navbar .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.navbar .logo{
  font-size: 2rem;
  color: var(--headline);
  margin: 0;
  position: relative;
  z-index: 15;
}

.navbar .logo span {
  color: var(--brand);
}

.navbar.scroll .logo,
.navbar.scroll .logo span,
body.menu-expanded .navbar .logo,
body.menu-expanded .navbar .logo span{
  color: var(--white);
}

.navbar.scroll{
  background-color: var(--brand);
}

.open-menu{
  width: 2.5rem;
  height: 2.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .6rem;
  cursor: pointer;
  z-index: 15;
}

.line {
  width: 100%;
  height: .3rem;
  background-color: var(--brand);
}

.line-1 {
  width: 50%;
  margin-right: auto;
}

.line-3 {
  width: 50%;
  margin-left: auto;
}

body.menu-expanded .open-menu{
  right: 4rem;
}

.navbar.scroll .line,
body.menu-expanded .line{
  background-color: var(--white);
}

body.menu-expanded .line-1{
  width: 100%;
  position: relative;
  top: 1rem;
  transform: rotate(45deg);
  transition: transform .2s;
}

body.menu-expanded .line-2{
  transform: rotate(-45deg);
  position: relative;
  top: .1rem;
  transition: transform .2s;
}

body.menu-expanded .line-3 {
  visibility: hidden;
}

.links{
  list-style-type: none;
  color: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
  margin-bottom: 4.8rem;
}

.menu-link{
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
  color: var(--brand-light);
  cursor: pointer;
}

.navbar .contact-btn{
  background-color: var(--white);
  color: var(--brand);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;

  padding: 1.6rem 3.2rem;
  margin-bottom: 8rem;
}

.navbar .contact-btn:hover {
  background-color: var(--brand);
  color: var(--white);

  filter: brightness(1.3);
}

.navbar .contact-btn svg path{
  fill: var(--brand);
}

.navbar .social-links{
  justify-content: center;
}

nav .menu,
nav .close-menu{
  position: fixed;
}

body.menu-expanded{
  overflow: hidden;
}

body.menu-expanded> :not(nav){
  display: hidden;
}

.menu,
.close-menu{
  opacity: 0;
  visibility: hidden;
} 

body.menu-expanded .menu,
body.menu-expanded .close-menu{
  opacity: 1;
  visibility: visible;
}

.menu{
  transform: translateY(100%);
}

body.menu-expanded .menu{
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--brand);

  padding-top: var(--navbar-height);

  transform: translateY(0);
  transition: transform .3s;
}
/* End of Navbar */

/* Section 1 */
.section-1{
  width: 100%;
  text-align: center;
  padding-block: 0;
  padding-top: calc(4rem + var(--navbar-height));
  overflow: hidden;
  position: relative;
}

.section-1::before {
  content: '';
  width: 100%;
  height: calc(100% - 23.5rem);
  background-color: var(--brand-light);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.section-1-heading{
  font-size: 3.4rem;
  line-height: 4.4rem;
  color: var(--headline);
  margin-bottom: 2.4rem;
}

.section-1-paragraph{
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

.section-1-img{
  max-width: 100%;
  height: 40.2rem;
  width: 40rem;
  object-fit: cover;
  position: relative;
  left: 6rem;
  bottom: -.5rem;
}

.stats{
  padding: 4rem 7.2rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 6rem;
  border-radius: .6rem;
  border: .1rem solid var(--brand-light);
}

.stat{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .4rem;
}

.stat-number{
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6.2rem;
  color: var(--headline);
}

.stat-description{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--brand);
}
/* Section 1 */

/* Section-2 */
.section-2{
  width: 100%;
  text-align: center;
  background-color: var(--brand-light-2);
}

.section-2 .section-heading{
  margin-bottom: 6rem;
}

.cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}


.card{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.6rem;
  padding: 2.4rem;

  background-color: var(--white);
  border-radius: .6rem;
  border: .1rem solid var(--brand-light);
}

.card svg{
  height: 2.4rem;
  width: 2.4rem;
}

.card-title{
  font-size: 2.4rem;
  line-height: 3.1rem;
  font-weight: 700;
  color: var(--headline);
}

.card-text{
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: var(--paragraph);
}
/* End of Section-2 */

/* Section 3 */
.section-3{
  width: 100%;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 0;
}

.section-3::before{
  content: '';
  position: absolute;
  height: calc(100% - 28.95rem);
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--white);
  z-index: -1;
}

.section-3 .section-subheading{
  text-align: center;
}

.section-3 .section-heading{
  margin-bottom: 6rem;
  text-align: center;
  padding-inline: 2.4rem;
}

.testimonials{
  display: flex;
  gap: 1.5rem;
  width: auto;
}

.testimonial{
  background-color: var(--brand-light);
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  border-radius: .4rem;
}

.testimonial-text{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--paragraph);
  margin-top: 2rem;
}

.customer{
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 2rem;
}

.customer-name{
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: var(--brand);
}

.testimonial svg{
  width: 4.5rem;
  height: 3.1rem;
}

.testimonial svg path{
  fill: var(--brand);
}

/* Swiper */
.swiper-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.4rem;
  margin-right: 4rem;
  margin-bottom: 10rem;
}

.swiper-wrapper{
  width: 100% !important;
}

.swiper-slide{
  height: auto;
  padding: 3.2rem;
}

.swiper-pagination-bullet{
  position: relative;
  bottom: -2rem;
  width: 1rem;
  height: 1rem;
}

.swiper-pagination-bullet-active{
  background-color: var(--brand);
}
/* End of Swiper */

.brands-heading{
  text-align: center;
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: var(--headline);
  margin-bottom: 4rem;
}

.brands{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 16rem;
  width: fit-content;
  position: relative;
  margin-left: 100%;
  animation: marquee 8s linear infinite; 
}

.brands svg{
  width: 12.3rem;
  height: 3.2rem;
}

.brands svg path{
  fill: var(--brand);
}

.brands svg:nth-child(4) path:nth-child(4){
  fill: white;
}

@keyframes marquee {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: -150%;
  }
}

.banner{
  /* margin-inline: 2.4rem; */
  padding: 5rem;
  background-color: var(--brand);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-heading{
  font-size: 3.2rem;
  line-height: 4.1rem;
  margin-bottom: 4rem;
  color: var(--white);
}

.banner .contact-btn{
  background-color: var(--white);
  border-radius: 4rem;
  padding: 1.6rem 3.2rem;
  color: var(--brand);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.8rem;
}

.banner .contact-btn:hover{
  background-color: var(--brand);
  color: var(--white);

  filter: brightness(1.3);
}

.banner .contact-btn svg{
  width: 2.4rem;
  height: 2.4rem;
}

.banner .contact-btn:hover svg path {
  fill: var(--white);
}

.banner .contact-btn svg path{
  fill: var(--brand);
}
/* End of Section 3 */

/* Section 4 */
.section-4{
  width: 100%;
  padding-block: 16rem;
  background-color: var(--brand-light); 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-4::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 18.95rem;
  background-color: var(--brand-light);
  top: -18.96rem;
  left: 0;
  z-index: -1;
}

.section-4 .section-heading{
  margin-bottom: 2.4rem;
}

.section-4-paragraph{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--paragraph);
  margin-bottom: 6rem;
}

.section-4-img{
  width: 100%;
  height: 28.2rem;
  object-fit: cover;
  border-radius: 1rem;
}
/* End of Section 4 */

/* Section 5 */
.section-5{
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-5 .section-heading{
  margin-bottom: 3.2rem;
}

.address{
  display: flex;
  align-items: center;
  gap: .8rem;
  margin-bottom: 1.6rem;
}

.email{
  display: flex;
  align-items: center;
  gap: .8rem;
  margin-bottom: 3.2rem;
}

.section-5 .contact-btn{
  margin-inline: 0;
}

.contact-img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}
/* End of Section 5 */

/* Section 6 */
.section-6{
  width: 100%;
  padding-block: 6rem;
  background-color: var(--brand);
}

.logo{
  font-size: 4rem;
  color: var(--white);
  letter-spacing: .1rem;
  margin-bottom: 2.4rem;
}

.logo span{
  font-weight: 700;
}

.copyright{
  width: 21.6rem;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 400;
  color: var(--brand-light);
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.social-links{
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.social-link{
  width: 2.4rem;
  height: 2.4rem;
}
/* End of Section 6 */

/* Responsive */
@media (min-width: 1024px){
  .wrapper{
    width: min(112rem, 100%);
    margin-inline: auto;
    display: grid;
  }

  .section-heading {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  .col-a{
    grid-area: A;
  }

  .col-b{
    grid-area: B;
  }

  .open-menu{
    display: none;
  }

  .navbar .wrapper .logo {
    display: none;
  }

  .navbar .logo2 {
    font-size: 2rem;
    color: var(--headline);
  }

  .navbar .logo2 span {
    color: var(--brand);
    font-weight: 700;
  }

  .navbar.scroll .logo2,
  .navbar.scroll .logo2 span {
    color: var(--white);
  }

  .menu2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .links2{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.2rem;
  }

  .links2 .menu-link{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: var(--brand);
    opacity: .7;
  }

  .navbar.scroll .links2 .menu-link{
    color: var(--white);
  }

  .links2 .menu-link:hover{
    opacity: 1;
    font-weight: 700;
  }

  .contact-btn2 {
    padding: 1.2rem 2.4rem;
    border-radius: 4rem;
    border: .1rem solid var(--brand);
    font-size: 1.6rem;
    color: var(--brand);
    line-height: 2.1rem;
    font-weight: 700;
  }

  .contact-btn2:hover{
    background-color: var(--brand);
    color: var(--white);
    transition: .2s;
  }

  .navbar.scroll .contact-btn2{
    color: var(--white);
    border-color: var(--white);
  }

  .navbar.scroll .contact-btn2:hover{
    background-color: var(--brand);
    border-color: var(--brand);
    filter: brightness(1.3);
  }

  /* Section 1 */
  .section-1::before{
    height: calc(100% - 10.5rem);
  }

  .section-1 .wrapper{
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas:
      'A B'
      'C C';
  }

  .section-1 .col-a{
    text-align: left;
    align-self: center;
  }

  .section-1 .section-1-heading{
    font-size: 5.2rem;
    line-height: 6.76rem;
  }

  .section-1 .col-a .contact-btn{
    margin-inline: 0;
  }

  .section-1-img{
    width: 42rem;
  }

  .stats{
    grid-area: C;
    flex-direction: row;
    padding: 6rem 12rem;
  }

  .stat + .stat{
    border-left: .1rem solid var(--brand);
  }

  .stat{
    flex: 1;
  }

  /* Section 2 */
  .cards{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }

  .card{
    width: 33rem;
    padding: 2.4rem;
    gap: 1.6rem;
  }

  /* Section 3 */
  .swiper-container{
    width: 45rem !important;
    /* padding-inline: auto; */
    margin: 0;
    margin-bottom: 16rem;
  }

  .swiper-slide{
    width: fit-content !important;
  }

  .section-3 .wrapper{
    overflow: hidden;
  }

  .section-3::before{
    height: calc(100% - 14.1rem);
  }

  .swiper-pagination-bullet {
    position: relative;
    bottom: -4.9rem;
    left: 75%;
    width: 1.5rem;
    height: 1.5rem;
  }

  .brands-heading{
    margin-bottom: 4.8rem;
  }

  .brands{
    animation: none;
    margin-left: 0;
    margin-inline: auto;
    gap: 9.9rem;
  }

  .banner{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10rem;
  }
  
  .banner-heading{
    width: 50%;
    margin: 0;
  }

  .banner .contact-btn{
    margin: 0;
  }

  /* Section 4 */
  .section-4 .wrapper{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'B A';
    gap: 6.6rem;
  }

  .section-4-img{
    height: auto;
  }

  .section-4 .col-a{
    align-self: center;
  }

  .section-4-paragraph{
    margin-bottom: 0;
  }

  /* Section 5 */
  .section-5{
    padding-block: 16rem;
  }

  .section-5 .wrapper{
    grid-template-columns: 1fr 57.5rem;
    grid-template-areas: 'A B';
  }

  .section-5 .col-a{
    align-self: center;
  }

  .contact-img{
    height: auto;
  }

  .section-5 .section-heading{
    width: 40.4rem;
  }
  
  /* footer */
  .section-6{
    padding-block: 8rem;
  }

  .section-6 .wrapper{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }

  .section-6 .col-a{
    align-self: center;
  }

  .copyright{
    margin-bottom: 0;
  }

  .section-6 .col-b{
    align-self: center;
    justify-self: flex-end;
  }
}
/* End of Responsive */
