/* Common styles */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  --brand: hsl(170, 100%, 26%);
  --brand-light: hsl(148, 23%, 89%);
  --brand-light-2: hsl(180, 14%, 97%);
  --about: hsl(170, 100%, 98%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --white: #FFF;
}

html{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

body{
  font-size: 1.6rem;
  background-color: var(--brand-light-2);
}

.wrapper{
  padding-inline: 2.4rem;
}
/* End of Common styles */

/* Section 1 */
.section-1{
  width: 100%;
  height: 100%;
  text-align: center;
  /* background-color: var(--brand-light); */
  overflow: hidden;
  position: relative;
}

.section-1::before {
  content: '';
  width: 100%;
  height: calc(100% - 23.5rem);
  background-color: var(--brand-light);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.section-1-subheading{
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--brand);
  line-height: 2.1rem;
  letter-spacing: .1rem;
  padding-top: 4.1rem;
  margin-bottom: 1.6rem;
}

.section-1-heading{
  font-size: 3.4rem;
  line-height: 4.4rem;
  color: var(--headline);
  margin-bottom: 2.4rem;
}

.section-1-paragraph{
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

.contact-btn{
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.8rem;
  font-weight: 700;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  background-color: var(--brand);
  padding: 1.7rem 3.2rem;
  border-radius: 4rem;
  width: max-content;
  margin-inline: auto;
  margin-bottom: 6rem;
}

.section-1-img{
  max-width: 100%;
  height: 40.2rem;
  width: 40rem;
  object-fit: cover;
  position: relative;
  left: 6rem;
  bottom: -.5rem;
}

.stats{
  padding: 4rem 7.2rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 6rem;
  border-radius: .6rem;
  border: .1rem solid var(--brand-light);
}

.stat{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .4rem;
}

.stat-number{
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6.2rem;
  color: var(--headline);
}

.stat-description{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--brand);
}
/* Section 1 */

/* Section-2 */
.section-2{
  width: 100%;
  padding-block: 10rem;
  text-align: center;
  background-color: var(--brand-light-2);
}

.section-2-subheading{
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: var(--brand);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: .1rem;
}

.section-2-heading{
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--headline);
  margin-bottom: 6rem;
}

.cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}


.card{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.6rem;
  padding: 2.4rem;

  background-color: var(--white);
  border-radius: .6rem;
  border: .1rem solid var(--brand-light);
}

.card svg{
  height: 2.4rem;
  width: 2.4rem;
}

.card-title{
  font-size: 2.4rem;
  line-height: 3.1rem;
  font-weight: 700;
  color: var(--headline);
}

.card-text{
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: var(--paragraph);
}
/* End of Section-2 */

/* Section 3 */
.section-3{
  width: 100%;
  padding-block: 10rem;
  overflow-x: hidden;
  position: relative;
}

.section-3::before{
  content: '';
  position: absolute;
  height: calc(100% - 28.95rem);
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--white);
  z-index: -1;
}

.section-3 .wrapper {
  margin-right: 2rem;
}

.section-3-subheading{
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: .08rem;
  color: var(--brand);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  text-align: center;
  padding-inline: 2.4rem;
}

.section-3-heading{
  font-size: 3rem;
  line-height: 5.2rem;
  color: var(--headline);
  margin-bottom: 6rem;
  text-align: center;
  padding-inline: 2.4rem;
}

.testimonials{
  display: flex;
  gap: 1.5rem;
  width: auto;
}

.testimonial{
  background-color: var(--brand-light);
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  border-radius: .4rem;
}

.testimonial-text{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--paragraph);
  margin-top: 2rem;
}

.customer{
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 2rem;
}

.customer-name{
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: var(--brand);
}

.testimonial svg{
  width: 4.5rem;
  height: 3.1rem;
}

.testimonial svg path{
  fill: var(--brand);
}

/* Swiper */
.swiper-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.4rem;
  margin-right: 4rem;
  margin-bottom: 10rem;
}

.swiper-wrapper{
  width: 100% !important;
}

.swiper-slide{
  height: auto;
  padding: 3.2rem;
}

.swiper-pagination-bullet{
  position: relative;
  bottom: -2rem;
  width: 1rem;
  height: 1rem;
}

.swiper-pagination-bullet-active{
  background-color: var(--brand);
}
/* End of Swiper */
.brands-heading{
  text-align: center;
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: var(--headline);
  margin-bottom: 4rem;
}

.brands{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 16rem;
  width: fit-content;
  position: relative;
  margin-left: 100%;
  animation: marquee 8s linear infinite; 
}

.brands svg{
  width: 12.3rem;
  height: 3.2rem;
}

.brands svg path{
  fill: var(--brand);
}

.brands svg:nth-child(4) path:nth-child(4){
  fill: white;
}

@keyframes marquee {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: -150%;
  }
}

.banner{
  margin-inline: 2.4rem;
  padding: 5rem;
  background-color: var(--brand);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-heading{
  font-size: 3.2rem;
  line-height: 4.1rem;
  margin-bottom: 4rem;
  color: var(--white);
}

.banner .contact-btn{
  background-color: var(--white);
  border-radius: 4rem;
  padding: 1.6rem 3.2rem;
  color: var(--brand);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.8rem;
}

.banner .contact-btn svg{
  width: 2.4rem;
  height: 2.4rem;
}

.banner .contact-btn svg path{
  fill: var(--brand);
}
/* End of Section 3 */

/* Section 4 */
.section-4{
  width: 100%;
  padding-block: 16rem;
  background-color: var(--brand-light); 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-4::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 28.95rem;
  background-color: var(--brand-light);
  top: -28.96rem;
  left: 0;
  z-index: -1;
}

.section-4-subheading{
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  color: var(--brand);
  margin-bottom: 1.6rem;
}

.section-4-heading{
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--headline);
  margin-bottom: 2.4rem;
}

.section-4-paragraph{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--paragraph);
  margin-bottom: 6rem;
}

.section-4-img{
  width: 100%;
  height: 28.2rem;
  object-fit: cover;
  border-radius: 1rem;
}
/* End of Section 4 */

/* Section 5 */
.section-5{
  padding-block: 10rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-5-heading{
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--headline);
  margin-bottom: 3.2rem;
}

.address{
  display: flex;
  align-items: center;
  gap: .8rem;
  margin-bottom: 1.6rem;
}

.email{
  display: flex;
  align-items: center;
  gap: .8rem;
  margin-bottom: 3.2rem;
}

.section-5 .contact-btn{
  margin-inline: 0;
}

.contact-img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}
/* End of Section 5 */

/* Section 6 */
.section-6{
  width: 100%;
  padding-block: 6rem;
  background-color: var(--brand);
}

.logo{
  font-size: 4rem;
  color: var(--white);
  letter-spacing: .1rem;
  margin-bottom: 2.4rem;
}

.logo span{
  font-weight: 700;
}

.copyright{
  width: 21.6rem;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 400;
  color: var(--brand-light);
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.social-links{
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.social-link{
  width: 2.4rem;
  height: 2.4rem;
}
/* End of Section 6 */
